.contenedor-login-page{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.login-left{
    background-color: #49beb7;
    flex: 1;
    background-image: url(../../assets/img/register.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.icon-nav1, .icon-nav2{
    display: none;
}

@media (max-width: 853px) {
    .contenedor-login-page{
        flex-direction: column;
        justify-content: flex-end;
    }
    
    
    
   .login-left{
    display: none;
   }
}

@media (max-width: 380px) {
    .contenedor-login-page{
        width: auto;
    }

}