.container-login{
    display: flex;
    height: 100vh;
}

.login-img{
    background-color: aquamarine;
    flex: 1;
}

.login-formulario{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
}