.contenedor-login-page{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.login-left{
    background: rgb(8,95,99);
    background: linear-gradient(16deg, rgba(8,95,99,1) 18%, rgba(73,190,183,1) 99%);
    flex: 1;
}

.login-right{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: column;
    
}

footer {
    width: 100%;
}