.form-box-login{
    background: #fff;
    border: none;
    width:400px;
    height: auto;
    padding: 2rem;
    color: #010101;
}

.tittle-login{
    line-height: 1.2rem; 
    font-size: 2.5rem; 
    font-weight: 700;
    text-align: center;
}

.sub-login{
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    margin: 20px 0;
    text-align: center;
}

.form-login {
    margin-top: 2rem;
}

.input-group {
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.input-group input:focus {
    border-color: #085f63; /* Borde en focus */
    outline: none;
}

.input-group label{
    display: block;
    margin-bottom: 0.5rem;
}

.button-login{
    background-color: #085f63;
    color: #f1f7fe;
    margin-top:1.2rem;
    width: 100%;
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.register-link {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1em;
    line-height: 1rem;
}

.register-link a{
    color: #085f63;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

.register-link a:hover {
    color: #064a4e; 
}

.button-login:hover {
    background-color: #064a4e;
}