.contenedor-inicioForm-general{
    display: flex;
    height: auto;
    width: 100vw;
}

.register-left{
    background-color: #49beb7;
    flex: 1;
}

.imgform{
    /*width: 80%;
    margin-left: 10%;*/
    display: none;
}

.register-rigth{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
}

