.mensajeCentral{
    font-size: 25px;
    align-self: left;
    text-align: left;
}

.imgPrincipal{
    width: 40%;
    height: 40%;
    justify-content: right;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Espacio entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente */
    padding: 15px; /* Espaciado interno */
    margin-bottom: 10%;
}

.containerServ1,
.containerServ2,
.containerServ3,
.containerServ4,
.containerServ5,
.containerServ6 {
    width: 140px;
    height: 140px;
    text-align: center;
    margin: 10px; /* Espacio alrededor de cada ítem */
}

.circle{
    background-color: #49beb7;
    border-radius: 80px;
    width: 130px;
    height: 130px;
    padding: 10px;
    margin: 0 auto;
}

.img{
    width: 90%;
}

.titleSeccion2{
    font-family: 'Montserrat-Alternates';
    text-align: center;
    font-weight: bold;
}

@font-face{
    font-family: 'Montserrat-Alternates';
    src: url('../../assets/fonts/MontserratAlternatesRegular.ttf') format('truetype');
}

.text{
    font-family: 'Montserrat-Alternates';
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.circle:hover{
    background-color:#085f63;
    transform: scale(1.2);
}

.circle{
    transition: transform 0.1s;
}

.text:hover{
    color: #085f63;
    cursor: pointer;
}


/* Media Queries for Responsiveness */

/* For tablets and small screens */
@media (max-width: 853px) {
    .mensajeCentral {
        font-size: 15px;
    }

    .imgPrincipal {
        width: 40%;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; /* Espacio entre los elementos */
        align-items: center; /* Alinea los elementos verticalmente */
        padding: 15px; /* Espaciado interno */
        margin-bottom: 10%;
    }

    .containerServ1,
    .containerServ2,
    .containerServ3,
    .containerServ4,
    .containerServ5,
    .containerServ6 {
        width: 100%;
        max-width: 200px;
        margin: 20px auto;
    }

    .circle {
        width: 100px;
        height: 100px;
    }

    .text {
        font-size: 12px;
    }
}

/* For mobile (telefono convencional) screens */
@media (max-width: 380px) {
    .mensajeCentral {
        font-size: 14px;
    }

    .imgPrincipal {
        width: 90%;
    }

    .container {
        width: 100%;
        max-width: 180px;
        height: auto; /* Permitir altura automática */
        margin: auto; /* Centrar container horizontalmente */
        position: relative;
        padding: 5px; /* Espaciado interno */
    }

    .containerServ1,
    .containerServ2,
    .containerServ3,
    .containerServ4,
    .containerServ5,
    .containerServ6 {
       width: 100%;
       max-width: 150px;
       margin: 5px auto;
    }

    .circle {
        width: 80px;
        height: 80px;
    }

    .text {
        font-size: 10px;
    }
}