.section-start{
    flex-direction: row;
    display: flex;
    margin: 0 auto;
    height: auto;
}

.text-section{
    font-size: 80%;
    width: 45%;
    text-align: center;
    margin-top: 8%;
    margin-left: 5%;
    color:#085f63 ;
}

.text-section h1{
    line-height: 70px;
}

hr{
    width: 60%;
    align-items: center;
    border: 3px solid #000000 ;
    margin-top: 5%;
    margin-bottom: 7%;
}

.img-section{
    width: 55%;
}

.logo{
    width: 80%;
}

.section-service{
    margin: 0 auto;
    height: auto;
}

.container-service{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    background-color: #f50f0f;
}

.service {
    background-color: #ffa600;
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    text-align: center;
    margin:5%; 
}

.service-circle{
    background-color: #49beb7;
    border-radius: 90px;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 0 auto;
}

.icon-service{
    width: 85%;
}
/*Titulo principal */
.title-service{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
}

.text-service{
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    color: #000000;
}

.service-circle:hover{
    background-color:#085f63;
    transform: scale(1.1);
}

.service-circle{
    transition: transform 0.1s;
}

.text-service:hover{
    color: #085f63;
    cursor: pointer;
}

/* Media Queries for Responsiveness */

/* For tablets and small screens */
@media (max-width: 853px) {
   /* .section-start{
        flex-direction: row;
        display: flex;
        margin: 0 auto;
        height: auto;
    }*/
    
    /*servicios*/
    .container-service {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #0400ff;
        align-content: center;
        align-items: center;

}
    .service {
        box-sizing: border-box;
        max-width: 250px;
        max-height: 200px;
    }

    .service-circle {
        width: 130px;
        height: 130px;
    }

    .text-service {
        font-size: 18px;
    }

    .text:hover{
        color: #085f63;
        cursor: pointer;
    }

    
}



/* For mobile (telefono convencional) screens */
@media (max-width: 380px) {
  .img-section{
    width: 55%;
    background-color: #ffa600;

  }
  .logo{
    width: 110%;
    margin-top: 85px;

}
.text-section{
    width: 45%;
    text-align: center;
    background-color: #49beb7;
    margin-top: 0;
    margin-left: 1%;
}

.text-section h1{
    font-size: 22px;
    line-height: 30px;
}

hr{
    width: 40%;
    align-items: center;
    border: 2px solid #000000 ;
    margin-top: 5%;
    margin-bottom: 7%;
}
    
    /*seccion de servicio*/
    .container-service {
        display: grid;
        grid-template-columns: auto auto ;
        background-color: #eb003b;
        align-content: center;
        align-items: center;
    }

    .service {
        box-sizing: border-box;
        max-width: 170px;
        max-height: 170px;
    }

    .service-circle {
        width:100px;
        height: 100px;
    }

    .text-service {
        font-size: 15px;
    }

    .text-service:hover{
        color: #085f63;
        cursor: pointer;
    }

    .service-circle:hover{
        background-color:#085f63;
        transform: scale(1.2);
    }

    .service-circle{
        transition: transform 0.1s;
    }

    .title-service {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
    }
}