/*SECCON SERVICES*/

.section-service {
    margin: 0 auto;
    padding: 20px 10px;
    height: auto;
}

.title-service, .title-quienes, .title-sucursal{
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    color: #085f63;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.container-service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 0 10%;
    padding: 20px;
    box-sizing: border-box;
}


.service {
    box-sizing: border-box;
    width: 100%;
    max-width: 250px;
    height: auto;
    text-align: center;
    position: relative;
    margin: 5px;
    box-sizing: border-box;
}

.service-circle{
    background-color: #49beb7;
    border-radius: 50%;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px auto;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.service-circle:hover {
    background-color: #085f63;
    transform: scale(1.1);
}

.icon-service {
    width: 85%;
}

.text-service{
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.text-service:hover {
    color: #49beb7;
    cursor: pointer;
}

/*SECCION QUIENES SOMOS*/

.section-quienessomos{
    margin-top: 0 auto;
    height: auto;
    text-align: center;
}

.container-quienes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px; 
    margin: 2% 0;
    padding: 20px;
    box-sizing: border-box;
}

.mision,
.vision,
.objetivos{
    width: 400px;
    height: 300px;
    background-color: #49beb7;
    border-radius: 8%;
    border: 2px solid #085f63;
    padding: 5%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.mision h3,
.vision h3,
.objetivos h3 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 2rem;
}

.mision p, .vision p, .objetivos p {
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 10px;
}

.objetivos {
    grid-column: span 2; 
}

.btn-somos{
    color: #fff;
    font-weight: 600;
    line-height: 1.6;
    font-size: 1.5rem;
}


@media (max-width: 853px) {
    .container-service {
        grid-template-columns: repeat(2, 1fr);
        gap: 2%;
    }

    .service-circle {
        width: 120px;
        height: 120px;
    }

    .text-service {
        font-size: 18px;
    }

    /*RESPONSIVE: QUIENES SOMOS*/

    .mision,
    .vision,
    .objetivos{
    height: auto;
    width: auto;
    padding: 15px;
    }

    .title-service, .title-quienes, .title-sucursal{
       margin: 0;
       font-size: 1.7rem;
    }

}

@media (max-width: 380px) {
    
    .container-service {
        grid-template-columns: 1fr;
        gap: 0;
    }


    .service {
        max-width: 100%;
        margin: 20px auto;
    }

    .service-circle {
        width: 100px;
        height: 100px;
    }

    .text-service {
        font-size: 14px;
    }

    /*RESPONSIVE QUIENES SOMOS*/
    .container-quienes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px; 
    }
    .mision, .vision, .objetivos {
        width: 90%;
        padding: 15px;
        height: auto;
    }
    
    .mision h3, .vision h3, .objetivos h3 {
        font-size: 18px;
    }

    .mision p, .vision p, .objetivos p {
        font-size: 14px;
        line-height: 1.4;
    }

}