.account-balance-box{
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0 2rem;
    width: 95vw;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #49beb7;
    color: #FFF;
    font-weight: 700;
}