.footer-banking{
    background-color: #085f63;
    color: #FFF;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.footer-banking h1 {
    margin: 5px 0;
    font-size: 1rem;
}

.footer-banking p {
    margin: 5px 0;
    font-size: 1rem;
}

.banking-contact {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    
}

.banking-contact li {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.icono-reducido {
    width: 24px;
    margin-right: 5px;
}

.banking-contact a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.banking-contact a:hover {
    color: #ccc;
}

@media (max-width: 380px) {
    .footer-banking h1 {
        font-size: 1.2rem;
        
    }
   
    .banking-contact {
        flex-direction: column;
        gap: 8px;
        margin: 2rem;
    }
}
