header{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.header-logo{
    display: block;
    width: 600px;
    margin: 7px;
}

.logo-nav{
    width: 100%;
}

.icons-nav{
    width: 30px;
}

.IconMenuMovil{
    display: none;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}

.nav-items > li a{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    padding: 0 8px;
    list-style: none;
    margin: 0 10px;
    justify-content: center;
    white-space: nowrap;
}

.nav-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1%;
}

.nav-buttons > button{
    margin: 5px;
    padding: 10px 20px; 
    white-space: nowrap;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #085f63;
    margin-right: 5rem;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn1{
    color: #085f63;
    border: 1px solid #085f63;
}

.btn2{
    background-color: #085f63;
    color: #fff;
}

@media (max-width: 853px) {
    .header-logo{
        display: block;
        width: 400px;
        margin: 7px;
    }
    
    .icons-nav{
        width: 60px;
    margin-right: 20px;
    }

    .IconMenuMovil{
        display: flex;
        margin: 0;
    }

    .navbar {
        display: flex;
        color: #085f63;
        margin: 0;
        flex-direction: column;
    }
    
    .nav-items {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .nav-items > li a{
        color: #000;
        font-size: 18px;
        padding: 0 8px;
        list-style: none;
        
    }

    .nav-buttons button{
        background-color: #085f63;
        color: #ffffff;
        border-radius: 7px;
        width: 100%;
    }

    .Navbar_items_open {
        position: absolute;
        padding-top: 1rem;
        top: 5rem;
        align-content: center;
        background-color: #49beb7;
        width: 100%;
        height: 100%;
      }
    
    .nav-buttons{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .Navbar_items_close{
        display: none;
    }
}


@media (max-width: 380px) {
    .header-logo{
        display: block;
        width: 300px;
        margin: 3px;
    }

    
    .icons-nav{
        width: 30px;
    }

    .IconMenuMovil{
        display: flex;
        margin-right: 3px;
    }

    .navbar{
        display: flex;
        color: #085f63;
        flex-direction: column;
        margin: 0;
    }

    .nav-items {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .nav-items > li a{
        color: #000;
        font-size: 18px;
        padding: 0 8px;
        list-style: none;
        
    }


    .Navbar_items_open {
        position: absolute;
        padding-top: 1rem;
        top: 4rem;

        align-content: center;
        background-color: #49beb7;
        width: 100%;
        height: auto;
        /*para hacer que el contenido se desplace hacia abajo*/
        /*display: block;*/
        /*max-height: 1000px; /* valor máximo para la altura */
        /*overflow: hidden; /* Oculta el contenido que excede la altura */
        /*transition: max-height 0.3s ease-out; /* Transición suave */

    }

    .Navbar_items_close{
        display: none;
        /*para hacer que se desplace*/
        /*display: block; /* se mantenga bloqueado */
        /*max-height: 0; /* Inicialmente, la altura es cero */
        /*overflow: hidden; /* Oculta el contenido */
        /*transition: max-height 0.3s ease-out; */
    }

    
    .nav-buttons{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .nav-buttons button{
        background-color: #085f63;
        color: #ffffff;
        border-radius: 7px;
        width: 100%;

    }
}
