.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #085f63;
}


.Navbar_items{
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat-Alternates';
    align-items: center;
    color: #085f63;
    width: 50%;
}

.nav{
    width: 300px;
}

.img{
    max-width: 100%;
}

@font-face{
    font-family: 'Montserrat-Alternates';
    src: url('../../assets/fonts/MontserratAlternatesRegular.ttf') format('truetype');
}

/*.text{
    font-family: 'Montserrat-Alternates';
}*/

.btn{
    background-color: #085f63;
    font-family: 'Montserrat-Alternates';
    color: #ffffff;
    border-radius: 7px;
    width: 80px;
    height: 30px;
}