.title{
    font-family: 'Montserrat-Alternates';
    text-align: center;
    font-weight: bold;
    color: #085f63;
}

@font-face{
    font-family: 'Montserrat-Alternates';
    src: url('../../../assets/fonts/MontserratAlternatesRegular.ttf') format('truetype');
}

/*.conten{
    position: absolute;
    top: 50%;
    left: 50%;
}*/

.img{
    display: block;
    width: 60%;
    margin: auto;
    width: 400px;
}

.parrafo{
   font-family: 'Montserrat-Alternates';
   text-align: justify; 
   font-size: 20px;
   /*text-align: justify;*/
   line-height: 150%; /*interlineado*/
   padding: 5%;
}

.parrafoobjetivos{
   font-family: 'Montserrat-Alternates';
   text-align: justify; 
   font-size: 13px;
   /*text-align: justify;*/
   line-height: 200%; /*interlineado*/
   padding: 2%;
}

/*Parte responsive de mision, vision y objetivos*/

/* For tablets screem */
 @media (max-width: 860px) {

    .img{
        display: block;
        width: 50%;
        margin: auto;
        width: 250px;
    }

    .parrafo{
        margin-top: 6%;
        text-align: justify; 
        font-size: 16px;
        padding: 8%;
    }

    .parrafoobjetivos{ 
        text-align: justify;
        font-size: 15px;
        line-height: 200%; /*interlineado*/
        padding: 6%;
    }
  }


/* responsive telefonos */
 @media (max-width: 380px) {

    .img{
        display: block;
        width: 50%;
        margin: auto;
        width: 250px;
    }

    .parrafo{
        margin-top: 6%;
        text-align: justify; 
        font-size: 16px;
        padding: 8%;
    }

    .parrafoobjetivos{ 
        text-align: justify;
        font-size: 12px;
        line-height: 180%; /*interlineado*/
        padding: 7%;
    }
  }