.container-sucursales{
    text-align: center;
    padding: 20px;
}

.sucursal-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: 20px;
    margin: 0 auto;
}

.sucursal-info1{
    text-align: end;
    margin: 20%;
}

.sucursal-info2{
    text-align: left;
    margin: 20%;
    padding: 20px;
}

.img-mapa {
    width: 100%;
    height: auto;
    transition: transform 0.3s; 
}
.img-mapa:hover {
    transform: scale(1.05); 
}
.sucursal-contacto {
    margin-top: 5px;
    text-align: center;
    padding: 10px;
}

@media (max-width: 853px) {
     .sucursal-info {
        grid-template-columns: auto 350px auto; 
    }

     .sucursal-info1,
    .sucursal-info2 {
        margin: 20px; 
    }
}

@media (max-width: 580px) {
    .sucursal-info {
        grid-template-columns: auto;
            }
}