.footer-principal{
    background-color: #085f63;
    color: #FFF;
    padding: 20px 10px;
}

.footer-principal h1{
    margin: 10px 0;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-info {
    width: 60%;
}

.info-list {
    list-style-type: none;
    padding: 0;
}

.info-list li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: #fff;
}
.info-list li a{
    
    color: #fff;
}


.icono-info {
    width: 28px;
    margin-right: 10px;
}

.section-redes {
    width: 35%;
    text-align: center;
}

.section-redes h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.section-redes a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.section-redes a:hover {
    color: #ccc;
}

.iconos-redes {
    width: 50px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.iconos-redes:hover {
    transform: scale(1.1);
}

p {
    text-align: center;
    margin-top: 20px;
}


/*responsive */

@media (max-width: 853px) {
    .section-info,
    .section-redes {
        width: 100%;
    }

    a {
        font-size: 16px;
    }
}


@media (max-width: 380px) {

    .footer-principal h1 {
        font-size: 22px;
    }

    .icono-info {
        width: 22px;
    }

    .iconos-redes {
        width: 40px;
    }

    a {
        font-size: 14px;
    }
}
