footer{
    background-color: #085f63;
    color: #FFF;
    padding: 10px;
}

footer h1{
    margin: 10px;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-info{
    width: 65%;

}

.info-list li{
    margin: 10px;
}

.icono-info{
    width: 28px;
    margin-right: 10px;
}

.section-redes{
    width: 35%;
    text-align: center;
}

a{
    font-size: 23px;
    text-decoration: none;
    color: #fff;
}


.iconos-redes{
    width: 65px;
    margin: 10px;
}

p{
    text-align: center;
    margin: 0;
}


@media (max-width: 380px) {

    h1{
        font-size: 23px;
    }

    .section-info{
        width: 100%;
        margin: 0;
    }

    .info-list li{
        margin: 5%;

        margin-left: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a{
        font-size: 15px;
    }
        
    .section-redes{
        width: 20%;
        text-align: center;
    }

    .icono-info{
        margin: 0;
    }

    .section-redes {
        width: 100%;
        text-align: center;
    }
}
