.section-start{
    flex-direction: row;
    display: flex;
    margin: 0 auto;
    height: auto;
}

.text-section{
    width: 45%;
    text-align: center;
    margin-top: 8%;
    color:#085f63 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7%;

}

.text-section h1{
    line-height: 70px;
}

.text-section h2{
font-size: 32px;
}

hr{
    width: 60%;
    align-items: center;
    border: 3px solid #000000 ;
    margin-top: 5%;
    margin-bottom: 7%;
}

.img-section{
    width: 55%;
}

.img-lady{
    width: 80%;
}

/*RESPONSIVE*/

@media (max-width: 853px) {
    .text-section,
    .img-section {
        width: 100%; 
    }
    .img-lady {
        width: 100%; 
        margin-top: 20px; 
    }

  .text-section h1{
    font-size: 1.8rem;
  }
  .text-section h2 {
    font-size: 1.3rem;
    margin: 5% 0;
}
  hr{
    width: 80%;
  }
}

@media (max-width: 380px) {
    .section-start{
        margin-top: 50%;
    }
    .text-section,
    .img-section {
        width: 100%; 
    }

    .img-lady{
    width: 100%;
    }

    .text-section h1 {
        font-size: 1rem; 
        line-height: 1.2;
    }
    .text-section h2 {
        font-size: 0.8rem; 
    }
    hr {
        width: 80%; 
    }

}