.container{

}

.title{
    font-family: 'Montserrat-Alternates';
    text-align: center;
    font-weight: bold;
    color: #085f63;
}

@font-face{
    font-family: 'Montserrat-Alternates';
    src: url('../../../assets/fonts/MontserratAlternatesRegular.ttf') format('truetype');
}

.img{
    display: block;
    width: 60%;
    margin: auto;
    width: 400px;
}

.parrafo{
   font-family: 'Montserrat-Alternates';
   text-align: justify; 
   font-size: 20px;
   padding: 7%;
}

/* Media Queries for Responsiveness */

/* For tablets screem */
@media (max-width: 860px) {
    .title h1{
        font-size: 30px;
        text-align: center;
        font-weight: 550;
        color: #085f63;
    }
        
    .container{
        padding: 10%;
    }

    .img{
        display: block;
        width: 50%;
        margin: auto;
        width: 250px;
    }

    .parrafo{
        margin-top: 6%;
        text-align: justify; 
        font-size: 16px;
        font-weight: 550;
    }
}


/* For movil screem */
@media (max-width: 360px) {
    .title h1{
        font-size: 20px;
        text-align: center;
        /*font-weight: bold;*/
        color: #085f63;
    }
    .container{
        padding: 10%;
    }

    .img{
        display: block;
        width: 50%;
        margin: auto;
        width: 250px;
    }

    .parrafo{
        margin-top: 6%;
        text-align: justify; 
        font-size: 16px;
        font-weight: 550;
    }
}